
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script src="~/js/echarts.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>WarehouseState</title>
    <script type="text/javascript">
        layui.use(['layer', 'util'], function () {
            var layer = layui.layer;
            var util = layui.util;
            var $ = layui.jquery;
            $.get("/WCS/CheckWCount", function (data) {

                if (data != null) {
                    v.quantity.q1 = Number(data.myse)
                    v.quantity.q2 = Number(data.mno)
                    v.quantity.q3 = Number(data.mxx)
                    v.gQuantity.q1 = Number(data.yse)
                    v.gQuantity.q2 = Number(data.no)
                    v.gQuantity.q3 = Number(data.nos)
                }
            })
            $.get("/WCS/checkMachine", function (data) {
                if (data.length > 0) {
                    layui.each(data, function (index, value) {
                        v.machine.push({
                            task: 1,
                            date: util.toDateString(new Date(), 'HH:mm:ss'),
                            name: value.Name,
                            status: value.Status
                        })
                    })
                }
            })
            $.get("/WCS/CheckHous", function (data) {
                if (data.length > 0) {
                    layui.each(data, function (index, value) {
                        v.goods.push({
                            partName: value.PartName,
                            partSpec: value.PartSpec,
                            stockQTY: value.StockQTY,
                            status: value.Type,
                            name: value.Name
                        })
                    })
                }
            })
            var v = new Vue({
                el: "#app",
                data: {
                    quantity: {
                        q1: 0,
                        q2: 0,
                        q3: 0
                    },
                    gQuantity: {
                        q1: 0,
                        q2: 0,
                        q3: 0
                    },
                    options: [{
                        value: 1,
                        label: '入库'
                    }, {
                        value: 2,
                        label: '出库'
                    }, {
                        value: 3,
                        label: '调整'
                    }],
                    value: 1,
                    machine: [],
                    goods: [],
                    styleCss: {
                        width: '180px',
                        'margin-left': '10px',
                        display: 'inline-block',
                        'margin-top': '12px'
                    },
                    o: {
                        overflow: 'auto'
                    }
                },
                methods: {
                    addClass: function (type, status) {
                        switch (status) {
                            case "可用":
                                return type + " layui-bg-green";
                                break;
                            case "占用":
                                return type + " layui-bg-orange";
                                break;
                            case "故障":
                                return type + " layui-bg-red";
                                break;
                            default:
                                return type + " layui-bg-blue";
                                break;
                        }
                    },
                    count: function (type) {
                        return type == "goods" ? this.quantity.q1 + this.quantity.q2 + this.quantity.q3 :
                            this.gQuantity.q1 + this.gQuantity.q2 + this.gQuantity.q3;
                    },
                    onSubmit:function() {
                        layer.open({
                        type: 2,
                        title: false,
                        area: ['610px', '750px'],
                        content: '/WMS/Enter',
                        success: function (layero, index) {
                            var type = ".in";
                            if (v.value == 2) {
                                type = ".out";
                            } else if (v.value == 3) {
                                type = ".tiao";
                            }
                            var frame = layer.getChildFrame(type,index);
                            frame.show()
                        }
                    });
                    }
                },
                computed: {
                    mCount: function () {
                        return this.machine.length > 3 ? true : false
                    },
                    outDate: function () {
                        return 0;
                    },
                    machineStatus: function () {
                        return [{
                            status: '可用',
                            name: '可用',
                            quantitys: this.quantity.q1
                        }, {
                            status: '占用',
                            name: '运行',
                            quantitys: this.quantity.q2
                        }, {
                            status: '故障',
                            name: '故障',
                            quantitys: this.quantity.q3
                        }, {
                            status: '总数',
                            name: '总数',
                            quantitys: this.count("")
                        }]
                    },
                    goodsStatus: function () {
                        return [{
                            status: '可用',
                            name: '可用',
                            quantitys: this.gQuantity.q1
                        }, {
                            status: '占用',
                            name: '未满',
                            quantitys: this.gQuantity.q2
                        }, {
                            status: '故障',
                            name: '已满',
                            quantitys: this.gQuantity.q3
                        }, {
                            status: '总数',
                            name: '总数',
                            quantitys: this.count("goods")
                        }]
                    }
                },
                watch: {},
            })
        })
    </script>
    <style>
        .layui-col-md6 {
            border: 1px solid red;
            height: 300px;
        }

        li button {
            margin-top: 25px;
        }

        .layui-badge-rim {
            margin-left: 5px;
        }

        .machine {
            height: 300px;
            overflow: hidden;
        }

        #scroll::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        #scroll::-webkit-scrollbar-track {
            background: #f6f6f6;
            border-radius: 2px;
        }

        #scroll::-webkit-scrollbar-thumb {
            background: #aaa;
            border-radius: 2px;
        }

            #scroll::-webkit-scrollbar-thumb:hover {
                background: #747474;
            }

        #scroll::-webkit-scrollbar-corner {
            background: #f6f6f6;
        }

        img {
            width: 20px;
            height: 20px
        }

        p {
            margin-top: 20px;
        }
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 150px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="layui-row">
            <div class="layui-col-md6">

            </div>
            <div class="layui-col-md6"></div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6"></div>
            <div class="layui-col-md6"></div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md1 status">
                <fieldset class="layui-elem-field">
                    <legend>机器状态</legend>
                    <div class="layui-field-box">
                        <ul style="display:inline-block">
                            <li v-for="item in machineStatus">
                                <button :class="addClass('layui-btn',item.status)">{{item.name}}<span class="layui-badge-rim">{{item.quantitys}}</span></button>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="layui-col-md1 status">
                <fieldset class="layui-elem-field">
                    <legend>货位状态</legend>
                    <div class="layui-field-box">
                        <ul style="display:inline-block">
                            <li v-for="item in goodsStatus">
                                <button :class="addClass('layui-btn',item.status)">{{item.name}}<span class="layui-badge-rim">{{item.quantitys}}</span></button>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="layui-col-md4 machine" id="scroll" :style=[mCount?o:'']>
                <fieldset class="layui-elem-field">
                    <legend>机器详情</legend>
                    <div class="layui-field-box">
                        <div class="layui-card" v-for="item in machine" :style=styleCss>
                            <div class="layui-card-header" style="background-color:rgba(194, 201, 206, 0.50)">{{item.name}}</div>
                            <div class="layui-card-body">
                                <p><img src="/img/ji.svg" />机器状态：<span :class="addClass('layui-badge-dot',item.status)"></span></p>
                                <p><img src="/img/ji.svg" />当前任务：{{item.task}}</p>
                                <p><img src="/img/ji.svg" />开始时间：{{item.date}}</p>
                                <p><img src="/img/ji.svg" />运行时长：{{outDate}}</p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="layui-col-md4 machine" id="scroll" :style=[mCount?o:'']>
                <fieldset class="layui-elem-field">
                    <legend>货位详情</legend>
                    <div class="layui-field-box">
                        <div class="layui-card" v-for="item in goods" :style=styleCss>
                            <div class="layui-card-header" style="background-color:rgba(194, 201, 206, 0.50)">{{item.name}}</div>
                            <div class="layui-card-body">
                                <p><img src="/img/hw.svg" />货位状态：<span :class="addClass('layui-badge-dot',item.status)"></span></p>
                                <p><img src="/img/hw.svg" />存储物料：<span v-text='item.partName==null?"无":item.partName'></span></p>
                                <p><img src="/img/hw.svg" />存储数量：<span v-text='item.stockQTY==null?"无":item.stockQTY'></span></p>
                                <p><img src="/img/hw.svg" />存储规格：<span v-text='item.partSpec==null?"无":item.partSpec'></span></p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="layui-col-md2 task">
                <el-card class="box-card" shadow="always">
                    <div slot="header" class="clearfix">
                        <span>任务操作</span>
                    </div>
                    <div class="text item">
                        <el-form ref="form" label-width="80px">
                            <el-form-item label="任务类型">
                                <el-select v-model="value" placeholder="请选择">
                                    <el-option v-for="item in options"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @@click="onSubmit">创建任务</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-card>
                <div class="block">
                    <el-carousel trigger="click" height="75px">
                        <el-carousel-item v-for="item in 4" :key="item">
                          
                        </el-carousel-item>
                    </el-carousel>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
