
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>智能立体仓库</title>
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <script type="text/javascript" src="~/laydate/laydate.js"></script>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <style type="text/css">
        dl dd a {
            margin-left:20px
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">智能立体仓库</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <span class="userName"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="UserData">基本资料</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;" class="out">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test" lay-shrink="all">
                    <li class="layui-nav-item"><a href="">报表</a></li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">WMS</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">WMS操作</a></dd>
                            <dd><a href="javascript:;" class="data">WMS基础资料</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">WCS</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">WCS操作</a></dd>
                            <dd><a href="javascript:;">WCS基础资料</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">

                    </ul>
                    <div class="layui-tab-content"></div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            © layui.com - 底部固定区域
        </div>
    </div>
    <script type="text/javascript">
        var user = '@Session["user"]'
        //$(function () {
        //    $().parents
        //    $.ajax({
              

        //    })
        //})
        layui.use(['element', 'layer', 'form'], function () {
            var element = layui.element, form = layui.form, layer = layui.layer, table = layui.table, $ = layui.jquery
            var index
            $(document).ajaxStart(function () {
                 index = layer.msg('加载中...', {
                    icon: 16
                     , shade: 0.01
                     , time: false
                })
            })
           
            $(document).ajaxStop(function () {
                layer.close(index)
                })
            if (user != undefined && user!="") {
                $(".userName").text(user)
            } else {
                $(".userName").text("未登录")
            }
            $(".out").click(function () {
                layer.confirm('确认退出?', { icon: 3, title: '提示' }, function (index) {
                    if ($(".userName").text() == "未登录") {
                        layer.msg("你还没有登陆", { icon:5 })
                    } else { 
                    $.get("/Home/OutUser", function (data) {
                        if (data == "true") { 
                            $(".userName").text("未登录")
                            $('.log').replaceWith("<li lay-id=11 class='log'>WMS-基础资料-员工登陆</li><i>/WMS/login</i>")
                            element.render();
                            element.tabChange('docDemoTabBrief',11);
                            layer.close(index);
                        }
                        })
                    }
                });

            })
            $(".UserData").click(function () {
                if (user != null && user != "") {
                    $('.log').replaceWith("<li lay-id=11 class='log'>WMS-基础资料-员工信息</li><i>/Home/UserData</i>")
                    element.render('tab');
                    element.tabChange('docDemoTabBrief', 11);
                } else {
                    $('.data').click()
                    element.tabChange('docDemoTabBrief', 11);
                }
            })
            element.on('nav(test)', function (elem) {
                switch (elem.text()) {
                    case "WMS操作":
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append("<li>入库</li><i>/WMS/Enter</i><li>出库</li><i>/WMS/Out</i>")
                        break;
                    case "WMS基础资料":
                        var stu = "<li lay-id=11 class='log'>WMS-基础资料-员工登陆</li><i>/WMS/login</i>"
                        if ($(".userName").text()!="未登录") {
                            stu = "<li lay-id=11 class='log'>WMS-基础资料-员工信息</li><i>/Home/UserData</i>"
                        }
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append(stu+
                            "<li>WMS-基础资料-货位</li><i>/WMS/GoodsArea</i>" +
                            "<li>WMS-基础资料-库区</li><i>/WMS/WarehouseArea</i>" +
                            "<li>WMS-基础资料-库位</li><i>/WMS/WarehousePosition</i>" +
                            "<li>WMS-基础资料-仓库</li><i>/WMS/Warehouse</i>" +
                            "<li>WMS-基础资料-物料信息注册</li><i>/WMS/Material</i>" +
                            "<li>WMS-基础资料-库存限制维护</li><i>/WMS/Inventory</i>" +
                            "<li>WMS-基础资料-策略</li><i>/WMS/Strategy</i>" )
                        break;
                    case "WCS操作":
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append("<li>仓库实时运行状况</li><i>/WCS/WarehouseState</i><li>监控台</li><i>/WMS/Console</i>")
                        break;
                    case "WCS基础资料":
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append("<li>命令分解</li><i>/WCS/Command</i><li>机器信息注册</li><i>/WMS/Machine</i><li>功能位置信息注册</li><i>/WMS/Functional</i>")
                        break;
                }
            });
            element.on('tab(docDemoTabBrief)', function (data) {
                var url = data.elem.find("li:eq(" + data.index + ")").next().text();
             
                $(".layui-tab-content").load(url , function () {
                    form.render()
                })
            });

            });
    </script>
</body>
</html>
