
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserData</title>
</head>
<body>
    <blockquote class="layui-elem-quote">用户信息</blockquote>
    <form class="layui-form layui-form-pane" id="userEditForm" lay-filter="form" style="padding-left:100px;">
        <input class="layui-hide" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="UserName" required lay-verify="required|username" placeholder="请输入用户名" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="PWD" required lay-verify="required|pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="EmployeeName" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="Tel" required lay-verify="required|number|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="padding-left:20px">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo">更新</button>
            </div>
            <div class="layui-input-inline">
                <button type="reset" class="layui-btn layui-btn-primary reset">重置</button>
            </div>
        </div>
    </form>
    <script>
        layui.use(['form', 'layer','element'], function () {
            var form = layui.form, layer = layui.layer, element = layui.element;
            var $ = layui.jquery
            $.get("/Home/checkUser", { value: '@Session["user"]' }, function (data) {
                form.val('form', {
                    'id': data[0].ID,
                    'UserName': data[0].UserName,
                    'EmployeeName': data[0].EmployeeName,
                    'PWD': data[0].PWD,
                    'Tel': data[0].Tel
                })
            })
            form.on('switch', function (data) {
                WCS = data.elem.checked
            });
            $(":reset").click(function () {
                $("[name=UserName]").attr("value",'@Session["user"]')
            })
            form.on('submit(formDemo)', function (data) {
                $.get("/Home/checkUser", { id: $("[name=id]").val() }, function (data1) {
                    if (data1.length > 0) {
                        if (data1[0].Tel != $("[name=Tel]").val()) {
                            layer.msg("该电话已经注册", { icon: 5 })
                            $("[name=Tel]").focus()
                        }
                        else {
                            layer.confirm('更新将重新登陆确定更新?', { icon: 3, title: '提示' }, function (index) {
                                $.post("/Home/AddUser", { User: data.field, type: "up" }, function (data) {
                                    if (data == "true") {
                                        $.get("/Home/OutUser", function (data) {
                                            if (data == "true") {
                                                $(".userName").text("未登录")
                                                $(".WCS").hide()
                                                $('.log').replaceWith("<li lay-id=11 class='log'>WMS-基础资料-员工登陆</li><i>/WMS/login</i>")
                                                element.render();
                                                element.tabChange('docDemoTabBrief', 11);
                                                layer.close(index);
                                            }
                                        })
                                    }
                                })
                            });
                        }
                    } else {
                        layer.confirm('更新将重新登陆确定更新?', { icon: 3, title: '提示' }, function (index) {
                            $.post("/Home/AddUser", { User: data.field, type: "up" }, function (data) {
                                if (data == "true") {
                                    $.get("/Home/OutUser", function (data) {
                                        if (data == "true") {
                                            $(".userName").text("未登录")
                                            $(".WCS").hide()
                                            $('.log').replaceWith("<li lay-id=11 class='log'>WMS-基础资料-员工登陆</li><i>/WMS/login</i>")
                                            element.render();
                                            element.tabChange('docDemoTabBrief', 11);
                                            layer.close(index);
                                        }
                                    })
                                }
                            })
                        });
                    }
                })
                return false;
            })
        });
    </script>
</body>
</html>
