
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/AddAll.js"></script>
    <title>AddAll</title>
    <style type="text/css">
        .layui-form-pane .layui-form-label {
            display: inline-block;
            width: 125px;
        }
        .layui-form-pane .layui-input {
            display: inline-block;
            width: 98%
        }
    </style>
</head>
<body>
    <input class="layui-hide" />
    @*仓库*@
    <form class="layui-form layui-form-pane ca" style="display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">仓库名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">仓库描述：</label>
            <div class="layui-input-block">
                <textarea name="Description" placeholder="简单描述一下" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    @*库区*@
    <form class="layui-form layui-form-pane kq" style="display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">库区名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库：</label>
            <div class="layui-input-block">
                <select class="wo" name="Whid" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">库区描述：</label>
            <div class="layui-input-block">
                <textarea name="Description" placeholder="简单描述一下" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    @*库位*@
    <form class="layui-form layui-form-pane kw" style="display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">库位名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库：</label>
            <div class="layui-input-block">
                <select class="wo" name="Whid" lay-search required lay-verify="required"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库区：</label>
            <div class="layui-input-block">
                <select class="Arid" name="Arid" lay-search title="kq" lay-filter="up" required lay-verify="required"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">z坐标（1或2）</label>
            <div class="layui-input-block">
                <input class="layui-input" name="z" required lay-verify="required|pass|up"/>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">库位描述：</label>
            <div class="layui-input-block">
                <textarea name="Description" placeholder="简单描述一下" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo2">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    @*货位*@
    <form class="layui-form layui-form-pane huo" style="display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">货位名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库：</label>
            <div class="layui-input-block">
                <select class="wo" name="Whid" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库区：</label>
            <div class="layui-input-block">
                <select class="Arid" name="Arid" lay-search title="kq"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库位：</label>
            <div class="layui-input-block">
                <select class="StorageLocationID" name="StorageLocationID" title="kw" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">临时货位：</label>
            <div class="layui-input-block">
                <select class="h" name="TempPlate" lay-search title="huo"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">货位大小：</label>
            <div class="layui-input-block">
                <input type="text" name="Size" required lay-verify="required|number" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">x坐标（m）</label>
            <div class="layui-input-block">
                <input type="text" name="x" required lay-verify="required|number" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">y坐标（m）</label>
            <div class="layui-input-block">
                <input type="text" name="y" required lay-verify="required|number" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">货位描述：</label>
            <div class="layui-input-block">
                <textarea name="Description" placeholder="简单描述一下" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo3">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</body>

</html>
