
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>货位</title>
    <style type="text/css">
        .layui-form-pane .layui-form-select {
            display: inline-block;
            width: 300px
        }

        .layui-btn {
            display: inline-block;
            border: 0px;
        }
        .layui-table-cell {
            overflow:initial;
            height:initial;
        }
    </style>
    <script type="text/javascript">
        layui.use(['table', 'form','layer'], function () {
            var table = layui.table, $ = layui.jquery, form = layui.form,layer=layui.layer;
            var datas, tableIns;
            var map = new Map();
            var statu = 0;
            $(document).ajaxStop(function () {
                for (var i = 0; i < datas.length; i++) {
                    $("tbody tr:eq(" + i + ")").find(".WHID").val(datas[i].WHID)
                    $("tbody tr:eq(" + i + ")").find(".StorageLocationID").val(datas[i].StorageLocationID)
                    $("tbody tr:eq(" + i + ")").find(".WHAreaID").val(datas[i].WHAreaID)
                    form.render()
                }
            })
            function ajax() {
                var tp = "";
                if (statu == 1) {
                    tp = "tbody ";
                }
                $.get("/WMS/checkWo", function (data) {
                    if (data != null) {
                        $(tp+".WHID").empty();
                        $(tp +".WHID").append("<option value='' selected>请选择</option>")
                        for (var i = 0; i < data.length; i++) {
                            $(tp +".WHID").append("<option value=" + data[i].ID + ">" + data[i].Name + "</option>")
                        }
                    }
                    form.render()
                })
                $.get("/WMS/checkkq", function (data) {
                    if (data != null) {
                        $(tp +".WHAreaID").empty();
                        $(tp +".WHAreaID").append("<option value='' selected>请选择</option>")
                        for (var i = 0; i < data.length; i++) {
                            $(tp +".WHAreaID").append("<option value=" + data[i].ID + ">" + data[i].Name + "</option>")
                        }
                    }
                    form.render()
                })
                $.get("/WMS/checkkw", function (data) {
                    if (data != null) {
                        $(tp +".StorageLocationID").empty();
                        $(tp +".StorageLocationID").append("<option value='' selected>请选择</option>")
                        for (var i = 0; i < data.length; i++) {
                            $(tp +".StorageLocationID").append("<option value=" + data[i].ID + ">" + data[i].Name + "</option>")
                        }
                    }
                    form.render()
                })
                $.get("/WMS/checkhuo", function (data) {
                    if (data != null) {
                        $(tp +".TempPlate").empty();
                        $(tp +".TempPlate").append("<option value='' selected>请选择</option>")
                        for (var i = 0; i < data.length; i++) {
                            $(tp +".TempPlate").append("<option value=" + data[i].ID + ">" + data[i].Name + "</option>")
                        }
                    }
                    form.render()
                })
          
            }
            function Add(name,i) {
                var index = layer.open({
                    type: 2,
                    title: name,
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['893px', '600px'],
                    content: '/WMS/AddAll'
                    , success: function () {
                        var body = layer.getChildFrame('body', index);
                        body.find('.layui-hide').val(i)
                        layer.msg("加载中", { icon: 16, time: 1000 })
                    }
                    , end: function () {
                        ajax();
                        tableIns.reload({})
                    }
                });
            }
           tableIns= table.render({
               elem: '#laytable'
               , url: "/WMS/checkhuo?id=1&data=" + null
                , height: 'full-20' 
                , cols: [[
                    { type: "checkbox" }
                    , { field: 'ID', hide: true }
                    , { field: 'Name', title: '货位名称', edit: "text" }
                    , { field: 'x_intercept', title: 'X坐标（cm）',edit:"text" }
                    , { field: 'y_intercept', title: 'Y坐标（cm）', edit: "text" }
                    , { field: 'z_intercept', title: 'Z坐标（cm）', edit: "text" }
                    , { field: 'StorageLocationID', title: '库位名称', toolbar: '#selectkw', width:200 }
                    , { field: 'WHAreaID', title: '库区名称', toolbar: '#selectkq', width: 200}
                    , { field: 'WHID', title: '仓库名称', toolbar: '#selectca', width: 200}
                    , { field: 'Description', title: '描述', edit: "text" }
                    , { field: 'CreatedTime', title: '创建时间' }
                    , { field: 'CreatedBy', title: '创建人' }
                    , { field: 'UpdatedTime', title: '更新时间' }
                    , { field: 'UpdatedBy', title: '更新人' }
                    , { align: 'center', toolbar: '#barDemo' }
                ]]
                , done: function (res) {
                    ajax()
                    datas = res.data
                   
                }
            });
            $("i").click(function () {
                var name = 'layui-icon layui-icon-add-1 '
                switch ($(this).attr("class")) {
                    case name + 'ca':
                        Add('添加仓库', 1)
                        break;
                    case name + 'kq':
                        Add('添加库区', 2)
                        break;
                    case name + 'kw':
                        Add('添加库位', 3)
                        break;
                    case name + 'huo':
                        Add('添加货位', 4)
                        break;
                }

            })
            form.on('select(tableca)', function (data) {
                var index = $("tbody .WHID").index(data.elem)
                table.cache.laytable[index].WHID = data.value
            })
            form.on('select(tablekq)', function (data) {
                var index = $("tbody .WHAreaID").index(data.elem)
                table.cache.laytable[index].WHAreaID = data.value
            })
            form.on('select(tablekw)', function (data) {
                var index = $("tbody .StorageLocationID").index(data.elem)
                table.cache.laytable[index].StorageLocationID = data.value
            })
            table.on('tool(table)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                if (layEvent === 'del') {
                    layer.confirm('确定删除么', function (index) {
                        $.post("/WMS/DelSingle", { id: data.ID,type:"huo"}, function (data) {
                            obj.del();
                            layer.close(index);
                            layer.msg("删除成功")
                        })
                    });
                } else if (layEvent === 'edit') {
                    $.post("/WMS/UpHuo", { data: data}, function (data) {
                        layer.msg("更新完成")
                        tableIns.reload({
                        })
                       
                    })
                }
            });
         
            form.on('select', function (data) {
                if ($(data.elem).parents("table").attr("class") == undefined) {
                    map.set(data.elem, data.value)
                    var ce = new Object()
                    statu = 1;
                    map.forEach(function (value, key) {
                        ce[$(key).attr("class")]= value
                    })
                    tableIns.reload({
                        url: "/WMS/checkhuo",
                        where: { id: "1", data:ce }
                    })

                }
            })
            $(".del").click(function () {
                var checkStatu = table.checkStatus('laytable')
                var arr = new Array();
                layer.confirm('确定删除' + checkStatu.data.length + '项么', function () {
                    
                    for (var i = 0; i < checkStatu.data.length; i++) {
                        arr[i] = checkStatu.data[i].ID
                    }
                    $.post("/WMS/DelAll", { id: arr, type: "huo" }, function () {
                        layer.msg("删除成功")
                        tableIns.reload({
                        })
                    })
                })
            })
            $(".add").click(function () {
                Add('添加货位', 4)
            })
            $(".up").click(function () {
                var checkStatu = table.checkStatus('laytable')
                for (var i = 0; i < checkStatu.data.length; i++) {
                    $.post("/WMS/UpAll", { data: checkStatu.data[i], type:"huo" }, function (data) {
                        
                    })
                }
                layer.msg("更新完成")
                tableIns.reload({
                })
            })
        })
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">更新</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="selectca">
        <select lay-search lay-filter="tableca" class="WHID" ></select>
    </script>
    <script type="text/html" id="selectkq">
        <select lay-search lay-filter="tablekq" class="WHAreaID"></select>
    </script>
    <script type="text/html" id="selectkw">
        <select lay-search lay-filter="tablekw" class="StorageLocationID"></select>
    </script>
</head>
<body>
    <blockquote class="layui-elem-quote">货位信息注册</blockquote>
    <div class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">仓库名：</label>
            <div class="layui-input-block">
                <select lay-search lay-filter="ca" class="WHID" name="Warehouse"></select>
                <button class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-add-1 ca"></i></button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库区名：</label>
            <div class="layui-input-block">
                <select lay-search lay-filter="kq" class="WHAreaID"></select>
                <button class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-add-1 kq"></i></button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库位名：</label>
            <div class="layui-input-block">
                <select lay-search lay-filter="kw" class="StorageLocationID"></select>
                <button class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-add-1 kw"></i></button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">货位名：</label>
            <div class="layui-input-block">
                <select lay-search lay-filter="huo" class="TempPlate"></select>
                <button class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-add-1 huo"></i></button>
            </div>
        </div>
    </div>
    <button class="layui-btn add">新增货位</button>
    <button class="layui-btn layui-btn-warm up">更新选中</button>
    <button class="layui-btn layui-btn-danger del">删除选中</button>
    <table lay-filter="table" id="laytable"></table>
</body>
</html>
