
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>仓库</title>
    <style type="text/css">
        .layui-form-pane .layui-form-select {
            display: inline-block;
            width: 300px
        }

        .layui-btn {
            display: inline-block;
            border: 0px;
        }

        .layui-table-cell {
            overflow: initial;
            height: initial;
        }
    </style>
    <script type="text/javascript">
        layui.use(['table', 'form','layer'], function () {
            var table = layui.table, $ = layui.jquery, form = layui.form,layer=layui.layer, tableIns;
            function ajax() {
                $.get("/WMS/checkWo", function (data) {
                    if (data != null) {
                        $(".WHID").empty();
                        $(".WHID").append("<option value='' selected>请选择</option>")
                        for (var i = 0; i < data.length; i++) {
                            $(".WHID").append("<option value=" + data[i].ID + ">" + data[i].Name + "</option>")
                        }
                    }
                    form.render()
                })

            }
          
            function Add(name, i) {
                var index = layer.open({
                    type: 2,
                    title: name,
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['893px', '600px'],
                    content: '/WMS/AddAll'
                    , success: function () {
                        var body = layer.getChildFrame('body', index);
                        body.find('.layui-hide').val(i)
                        layer.msg("加载中", { icon: 16, time: 1000 })
                    }
                    , end: function () {
                        ajax();
                        tableIns.reload({})
                    }
                });
            }
           tableIns= table.render({
               elem: '#laytable'
               , url: "/WMS/checkWo"
               , where:{id:"1"}
                , height: 'full-20'
                , cols: [[
                    { type: "checkbox" }
                    , { field: 'ID', title: '仓库编码'}
                    , { field: 'Name', title: '仓库名称', edit: "text" }
                    , { field: 'Description', title: '描述', edit: "text" }
                    , { field: 'CreatedTime', title: '创建时间' }
                    , { field: 'CreatedBy', title: '创建人' }
                    , { align: 'center', toolbar: '#barDemo' }
                ]]
            });
            $("i").click(function () {
              
                        Add('添加仓库', 1)

            })
            table.on('tool(table)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
         
                if (layEvent === 'del') {
                    layer.confirm('确定删除么', function (index) {
                        $.post("/WMS/DelSingle", { id: data.ID,type:"ca"}, function (data) {
                            obj.del();
                            layer.close(index);
                            layer.msg("删除成功")
                        })
                    });
                } else if (layEvent === 'edit') {
                    $.post("/WMS/UpAll", { data: data}, function (data) {
                        layer.msg("更新完成")
                        tableIns.reload({
                        })
                        ajax()
                    })
                }
            });
            form.on('select(ca)', function (data) {
                    tableIns.reload({
                        url: "/WMS/checkWo",
                        where: {id:"1", data: data.value }
                })
            })
            $(".del").click(function () {
                var checkStatu = table.checkStatus('laytable')
                var arr = new Array();
                layer.confirm('确定删除' + checkStatu.data.length + '项么', function () {
                    for (var i = 0; i < checkStatu.data.length; i++) {
                        arr[i] = checkStatu.data[i].ID
                    }
                    $.post("/WMS/DelAll", { id: arr, type: "ca" }, function () {
                        layer.msg("删除成功")
                        tableIns.reload({
                        })
                    })
                })
            })
            $(".add").click(function () {
                Add('添加仓库', 1)
            })
            $(".up").click(function () {
                var checkStatu = table.checkStatus('laytable')
                for (var i = 0; i < checkStatu.data.length; i++) {
                    $.post("/WMS/UpAll", { data: checkStatu.data[i], type:"ca" }, function (data) {

                    })
                }
                layer.msg("更新完成")
                tableIns.reload({
                })
                ajax()
            })
            ajax()
        })
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">更新</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</head>
<body>
    <blockquote class="layui-elem-quote">仓库信息注册</blockquote>
    <div class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">仓库名：</label>
            <div class="layui-input-block">
                <select lay-search lay-filter="ca" class="WHID" name="Warehouse"></select>
                <button class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-add-1 ca"></i></button>
            </div>
        </div>
    </div>
    <button class="layui-btn add">新增仓库</button>
    <button class="layui-btn layui-btn-warm up">更新选中</button>
    <button class="layui-btn layui-btn-danger del">删除选中</button>
    <table lay-filter="table" id="laytable"></table>
</body>
</html>
