
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>仓库</title>
    <style type="text/css">
        .layui-form-pane .layui-form-select {
            display: inline-block;
            width: 300px
        }

        .layui-btn {
            display: inline-block;
            border: 0px;
        }

        .layui-table-cell {
            overflow: initial;
            height: initial;
        }
    </style>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">更新</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</head>
<body>
    <blockquote class="layui-elem-quote">仓库信息注册</blockquote>
    <div class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">仓库名：</label>
            <div class="layui-input-block">
                <select lay-search lay-filter="ca" class="WHID" name="Warehouse"></select>
                <button class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-add-1 ca"></i></button>
            </div>
        </div>
    </div>
    <button class="layui-btn add">新增仓库</button>
    <button class="layui-btn layui-btn-warm up">更新选中</button>
    <button class="layui-btn layui-btn-danger del">删除选中</button>
    <table lay-filter="table" id="laytable"></table>
</body>
</html>
