
body {
margin:0;
}
.progress {
    position: absolute;
    width: 20%;
    bottom: 5px;
    right: 80px
}
    .striped .el-progress-bar__inner {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 72px 72px;
    }
.active .el-progress-bar__inner {
    animation: progress-stripes 2s linear infinite;
}

@keyframes progress-stripes {
    from {
        background-position: 72px 0;
    }

    to {
        background-position: 0 0;
    }
}

.el-input-number {
    transition: all .3s;
    transform-origin:0 0;
}
.tableBur {
    border-color:red;
}
.tableBur:focus {
    border-color: red;
}
.divColor {
    color:red;
}
.heightClass {
    transform:scaleX(0)
}
.right .el-badge__content.is-fixed {
    right: 28px
}
.el-header, .el-footer {
    text-align: center;
    line-height: 60px;
}
table .el-form-item {
    margin: 0;
}
.el-main {
    text-align: center;
}
.el-row {
    margin-bottom: 15px;
}

.row-bg {
    padding: 10px 0;
   
}
.text {
    font-size: 14px;
}

.item {
    margin-bottom: 5px;
    text-align:center;
}
.box-card {
    margin: 5px 14px 5px 14px;
    text-align:left;
}
.el-card__header {
    padding:10px
}
.box-card p {
    text-align: center;
    width: 50px
}
.el-card__body {
    padding:1px
}
html::-webkit-scrollbar {
    width:2px;
}
html::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px;
}

html::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}

    html::-webkit-scrollbar-thumb:hover {
        background: #747474;
    }

html::-webkit-scrollbar-corner {
    background: #f6f6f6;
}
div::-webkit-scrollbar {
    width: 2px;
}

div::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px;
}

div::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}

div::-webkit-scrollbar-thumb:hover {
        background: #747474;
}

div::-webkit-scrollbar-corner {
    background: #f6f6f6;
}
.el-header {
    line-height:20px;
}
.task p {
    margin:0 5px
}

