@*<div class="layui-col-md4 machine" id="scroll" :style=[mCount?o:'']>
        <fieldset class="layui-elem-field">
            <legend>机器详情</legend>
            <div class="layui-field-box">
                <div class="layui-card" v-for="item in machine" :style=styleCss>
                    <div class="layui-card-header" style="background-color:rgba(194, 201, 206, 0.50)">{{item.name}}</div>
                    <div class="layui-card-body">
                        <p><img src="/img/ji.svg" />机器状态：<span :class="addClass('layui-badge-dot',item.status)"></span></p>
                        <p><img src="/img/ji.svg" />当前任务：{{item.task}}</p>
                        <p><img src="/img/ji.svg" />开始时间：{{item.time}}</p>
                        <p><img src="/img/ji.svg" />当前时间：{{toDateString(date,'HH:mm:ss')}}</p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>*@
@*<div class="layui-col-md4 machine" id="scroll" :style=[gCount?o:'']>
        <fieldset class="layui-elem-field">
            <legend>货位详情</legend>
            <div class="layui-field-box">
                <div class="layui-card" v-for="item in goods" :style=styleCss>
                    <div class="layui-card-header" style="background-color:rgba(194, 201, 206, 0.50)">{{item.name}}</div>
                    <div class="layui-card-body">
                        <p><img src="/img/hw.svg" />货位状态：<span :class="addClass('layui-badge-dot',item.status)"></span></p>
                        <p><img src="/img/hw.svg" />存储物料：<span v-text='item.partName==null?"无":item.partName'></span></p>
                        <p><img src="/img/hw.svg" />存储数量：<span v-text='item.stockQTY==null?"无":item.stockQTY'></span></p>
                        <p><img src="/img/hw.svg" />存储规格：<span v-text='item.partSpec==null?"无":item.partSpec'></span></p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>*@